@use "/src/sass/base/variables.scss" as *;

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  font-family: "Barlow", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-x: clip;
}

body {
  background-color: $light;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.divider {
  width: 60px;
  height: 3px;
  margin: 25px auto 0 auto;
  background: $main-color;
}
