@use "/src/sass/base/variables.scss" as *;

@mixin before_circle {
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 36px;
    height: 36px;
    background: $main-color;
    border-radius: 100%;
    z-index: -1;
  }
}

@mixin before_circle-center {
  &::before {
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
  }
}
