@use "/src/sass/base/mixins.scss" as *;

.contact {
  padding-top: 120px;
  padding-bottom: 90px;
  &__wrapper {
    display: grid;
    grid-template-columns: 400px 585px;
    justify-content: space-between;
  }
  &__photo {
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__descr {
    .divider {
      margin: 15px 0 0 0;
    }
  }
  &__title {
    @include before_circle;
    padding-left: 15px;
    margin-bottom: 25px;
  }
  &__text,
  &__social {
    margin-top: 20px;
  }
  &__social {
    display: flex;
  }
  &__link {
    margin-right: 25px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  &__form {
    margin-top: 30px;
    display: grid;
    grid-template: 45px 190px 45px / repeat(2, 280px);
    gap: 35px;
    label {
      position: absolute;
      top: -5px;
      left: 15px;
      padding: 0 8px;
      font-size: 12px;
      background: #fff;
    }
  }
  &__policy {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    input {
      margin-right: 10px;
    }
  }
  &__input {
    position: relative;
    input {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      color: rgba(0, 0, 0, 1);
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }
  }
  &__textarea {
    position: relative;
    label {
      position: absolute;
    }
    grid-column: 1 / 3;
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      padding: 20px 20px;
      color: rgba(0, 0, 0, 1);
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }
  }
  &__trigger {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column: 1 / 3;
    column-gap: 35px;
  }
  .btn {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }
}
