@use "/src/sass/base/variables.scss" as *;

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  &.active {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  &__block {
    position: relative;
    width: 450px;
    background: $main-color;
    transition: all 0.5s;
    height: 100%;
    // left: -100%;
    padding: 140px;
    padding-left: 40px;
    z-index: 10;
  }
  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }
  &__list {
    list-style-type: none;
    padding-left: 35px;
  }
  &__link {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 15px;
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: -35px;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: 1px solid rgba(0, 0, 0, 1);
      transition: all 0.5s;
    }
    &:hover {
      &::before {
        background-color: black;
      }
    }
    a {
      color: rgba(255, 255, 255, 1);
      text-decoration: none;
    }
  }
  &__social {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    display: flex;
    justify-content: space-between;
    img {
      width: 35px;
      height: 35px;
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
  }
}

.burger {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 36px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  span {
    display: block;
    width: 30px;
    height: 4px;
    background: rgba(21, 24, 18, 1);
  }
  span.long {
    width: 36px;
  }
}
